<p id="notice"><%= notice %></p>

<p>
  <b>Salutation:</b>
  <%= @staff.salutation %>
</p>

<p>
  <b>First name:</b>
  <%= @staff.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @staff.last_name %>
</p>

<p>
  <b>Suffix:</b>
  <%= @staff.suffix %>
</p>

<p>
  <b>Address line1:</b>
  <%= @staff.address_line1 %>
</p>

<p>
  <b>Address line2:</b>
  <%= @staff.address_line2 %>
</p>

<p>
  <b>Address line3:</b>
  <%= @staff.address_line3 %>
</p>

<p>
  <b>City:</b>
  <%= @staff.city %>
</p>

<p>
  <b>State:</b>
  <%= @staff.state %>
</p>

<p>
  <b>County:</b>
  <%= @staff.county %>
</p>

<p>
  <b>Country:</b>
  <%= @staff.country %>
</p>

<p>
  <b>Postal code:</b>
  <%= @staff.postal_code %>
</p>

<p>
  <b>Responder:</b>
  <%= @staff.responder %>
</p>

<p>
  <b>Dispatcher:</b>
  <%= @staff.dispatcher %>
</p>

<p>
  <b>Case worker:</b>
  <%= @staff.case_worker %>
</p>

<p>
  <b>Home phone:</b>
  <%= @staff.home_phone %>
</p>

<p>
  <b>Work phone:</b>
  <%= @staff.work_phone %>
</p>

<p>
  <b>Mobile phone:</b>
  <%= @staff.mobile_phone %>
</p>

<p>
  <b>Latitude:</b>
  <%= @staff.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @staff.longitude %>
</p>


<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
