<ol>
  <li><%= link_to "stock types", stock_types_path%></li>
  <li><%= link_to "genders", genders_path%></li>
  <li><%= link_to "notifying agencies", notifying_agencies_path%></li>
  <li><%= link_to "incident stock types", incident_stock_types_path%></li>
  <li><%= link_to "ethnicities", ethnicities_path%></li>
  <li><%= link_to "economic statuses", economic_statuses_path%></li>
  <li><%= link_to "dwelling types", dwelling_types_path%></li>
  <li><%= link_to "disaster types", disaster_types_path%></li>
  <li><%= link_to "staffs", staffs_path%></li>
  <li><%= link_to "incident assistances", incident_assistances_path%></li>
  <li><%= link_to "clients", clients_path%></li>
  <li><%= link_to "incidents", incidents_path%></li>
  <li><%= link_to "incident responders", incident_responders_path%></li>
</ol>
