<h1>Listing notifying_agencies</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @notifying_agencies.each do |notifying_agency| %>
  <tr>
    <td><%= notifying_agency.name %></td>
    <td><%= link_to 'Show', notifying_agency %></td>
    <td><%= link_to 'Edit', edit_notifying_agency_path(notifying_agency) %></td>
    <td><%= link_to 'Destroy', notifying_agency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Notifying agency', new_notifying_agency_path %>
