<h1>Listing disaster_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @disaster_types.each do |disaster_type| %>
  <tr>
    <td><%= disaster_type.name %></td>
    <td><%= link_to 'Show', disaster_type %></td>
    <td><%= link_to 'Edit', edit_disaster_type_path(disaster_type) %></td>
    <td><%= link_to 'Destroy', disaster_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Disaster type', new_disaster_type_path %>
