<p id="notice"><%= notice %></p>

<p>
  <b>Family:</b>
  <%= @client.family_id %>
</p>

<p>
  <b>Salutation:</b>
  <%= @client.salutation %>
</p>

<p>
  <b>First name:</b>
  <%= @client.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @client.last_name %>
</p>

<p>
  <b>Suffix:</b>
  <%= @client.suffix %>
</p>

<p>
  <b>Address line1:</b>
  <%= @client.address_line1 %>
</p>

<p>
  <b>Address line2:</b>
  <%= @client.address_line2 %>
</p>

<p>
  <b>Address line3:</b>
  <%= @client.address_line3 %>
</p>

<p>
  <b>City:</b>
  <%= @client.city %>
</p>

<p>
  <b>State:</b>
  <%= @client.state %>
</p>

<p>
  <b>County:</b>
  <%= @client.county %>
</p>

<p>
  <b>Postal code:</b>
  <%= @client.postal_code %>
</p>

<p>
  <b>Home phone:</b>
  <%= @client.home_phone %>
</p>

<p>
  <b>Work phone:</b>
  <%= @client.work_phone %>
</p>

<p>
  <b>Mobile phone:</b>
  <%= @client.mobile_phone %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @client.date_of_birth %>
</p>

<p>
  <b>Date deceased:</b>
  <%= @client.date_deceased %>
</p>

<p>
  <b>Head of house hold:</b>
  <%= @client.head_of_house_hold %>
</p>

<p>
  <b>Ethnicity type:</b>
  <%= @client.ethnicity_type_id %>
</p>

<p>
  <b>Language:</b>
  <%= @client.language_id %>
</p>

<p>
  <b>Gender type:</b>
  <%= @client.gender_type_id %>
</p>

<p>
  <b>Economic status type:</b>
  <%= @client.economic_status_type_id %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
